.footer {
    grid-column: full-start / full-end;
    background-color: $color-secondary;
    padding: 8rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 6rem 8rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem 8rem;
        padding-bottom: 3rem;
    }

    &__nav {
        list-style: none;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        align-items: center;
        grid-gap: 2rem;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        border-radius: 5px;
        transition: all .3s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}
