.cta,
.btn {
    background-color: $color-primary;
    color: white;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;  
    border: none;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.btn {
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba($color: #000000, $alpha: .3);

    &:active {
        transform: translateY(5px);
        box-shadow: 0 2px 3px rgba($color: #000000, $alpha: .3);
        outline: none;
    }
}

.cta {
    &:active {
        text-decoration: underline;
    }
}